/*LANDING CSS*/
.landing {
	visibility: hidden;
	height: 150px;
	width: 150px;
}

#test {
	opacity: .5;
	margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*End of Laning css*/

#profileHeader {
	text-align: center;
}

.profilePicture {
	width: 45%;
	margin: 0 auto;
	float: left;
}

.profileNameLink {
	width: 45%;
	margin: 0 auto;
	float: left;
}

.profileNameLink h3 {
	margin-left: 15px;
	vertical-align: top;
	display: inline;
	font-size: 1.5em;
}

.profileNameLink ul {
	padding-left: 0px;
	margin-top: 18px;
	vertical-align: bottom;
}

.profileNameLink li {
	display: inline;
	padding: 6px;
}

#nameBorder {
	position: relative;
	margin: 0 auto;
	padding: 10px;
	color: white;
	background-color: rgba(0,0,0,.2);
	min-height: 40px;
}

#nameBorder:before {
	position: absolute;
	top: 5px;
	left: -22px;
	content: '';
	width: 0;
	height: 0;
	margin: -5px 0 0;
	border-right: solid 22px rgba(0,0,0,.2);
	border-bottom: solid 22px transparent;
	border-top: solid 22px transparent;
}

#profileRow {
	margin-top: 10px;
	height: 150px;

}

#profileRow h4 {
	margin-top: 0px;
	margin-right: 15px;
	vertical-align: center;
	text-align: center;
	position: relative;
	padding: 10px;
	color: white;
	background-color: rgba(0,0,0,.2);
	min-height: 40px;
}

#profileRow p {
	margin: 10px 15px 10px 15px;
	text-align: vertical right;
}

.companyBlocks {
	margin-top: 10px;
}

@media only screen and (min-width : 768px) {
	#profilePicture, #profileRow{
 		width:500px;
 		margin:0 20px 0 0;
	}
}

@media only screen and (min-width : 992px) {
	#nameBorder{
		width:200px;
	}
}
