<div id="profileHeader">
	<img src="ojasdfosajfasf">
	<h3>Company Name</h3>
	<ul>
	    <li><a href="https://twitter.com/maddy_531"><i class="fa fa-3x fa-twitter"></i></a></li>
	    <li><a href="https://www.linkedin.com/in/maddyandrade"><i class="fa fa-3x fa-linkedin"></i></a></li>
	    <li><a href="https://github.com/maddy531"><i class="fa fa-3x fa-github"></i></a></li>
	</ul>
</div>
<hr>
<div id="profileRow">
	<div id="profileCat">
		<p class="profileHead">Blargl</p>
	</div>
</div>
<hr>
	<div id="profileText">
		<p class="profileText">I'm the best.</p>
	</div>
</div>
