<input type="button"  value="Login" onclick="login()" />
<input type="button"  value="Logout" onclick="logout()" />

<div class="row">
	<div id="profileHeader" class="col-xs-12">
		<div class="profilePicture">
			<img src="../../img/profilePictures/taylorSwift-small.jpg" class="img-rounded">

		</div>

		<div class="profileNameLink">
			<div id="nameBorder">
				<small id="googleFirstName"></small><h3 id="googleLastName"></h3>
			</div>
			<ul>
			    <li><a href="https://www.twitter.com"><i class="fa fa-twitter fa-3x"></i></a></li>
			    <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin fa-3x"></i></a></li>
			    <li><a href="https://www.github.com"><i class="fa fa-github fa-3x"></i></a></li>
			</ul>
		</div>
	</div>
</div>

	<hr>

<div class="row" class="col-xs-12">
	<div id="profileRow">
		<h4 class="profileHead col-xs-4">Education</h4>
		<p id="googleEducation" class="profileText col-x-8" contenteditable="true"></p>
	</div>
</div>

	<hr>

<div class="row" class="col-xs-12">
	<div id="profileRow">
		<h4 class="profileHead col-xs-4">E-Mail</h4>
		<p class="profileText col-x-8" contenteditable="true">BeautifulGirl@gmail.com</p>
	</div>
</div>

	<hr>

<div class="row" class="col-xs-12">
	<div id="profileRow">
		<h4 class="profileHead col-xs-4">Twitter</h4>
		<p class="profileText col-x-8" contenteditable="true" >Twitter.com/T-swiftomg</p>
	</div>
</div>

	<hr>

<div class="row" class="col-xs-12">
	<div id="profileRow">
		<h4 class="profileHead col-xs-4">LinkedIn</h4>
		<p class="profileText col-x-8" contenteditable="true">randomLinkedIn</p>
	</div>
</div>

	<hr>

<div class="row" class="col-xs-12">
	<div id="profileRow">
		<h4 class="profileHead col-xs-4">GitHub</h4>
		<p class="profileText col-x-8" contenteditable="true">randomGitHub</p>
	</div>
</div>
