<body>

<div class="row companyBlocks">
	<div id="profileHeader" class="col-xs-12">
		<div class="profilePicture">
			<img src="../../img/profilePictures/taylorSwift-small.jpg" class="img-rounded">
		</div>

		<div class="profileNameLink">
			<a href="#/companyInfo"><div id="nameBorder">
				<h3><small>Grand</small>Circus</h3>
			</div></a>
			<ul>
			    <li><a href="https://www.twitter.com"><i class="fa fa-twitter fa-3x"></i></a></li>
			    <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin fa-3x"></i></a></li>
			    <li><a href="https://www.github.com"><i class="fa fa-github fa-3x"></i></a></li>
			</ul>
		</div>
	</div>
</div>

<hr>



  <!-- submit button to prompt add new company form -->


	<!-- new modal test -->
	<div id="container">
	<!-- container for both left and right seats -->
	  <div id="wrapper">
	<!-- Add new company -->
	      <div id="addNewCompany">
	        <div class="col-xs-6">
	          <div id="left-seats">
	                <div class="btn-group-lg" role="group" aria-label="addNewInfo">
	                  <!-- Trigger the modal with a button -->
	                  <button type="button" class="newInfBtn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">+</button>
	                </div>
	          </div>
	        </div>
	      </div>
	  </div>
	</div>

	<!--New info form!-->
	<div class="container">
	  <!-- Modal -->
	  <div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">

	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h2 class="modal-title">Add a Company:</h2>
	          <h4>Add all the info you need to get ahead.</h4>
	        </div>

	        <div class="modal-body">
	          <div id="envelope">

	            <form id="theform" action="" method="post">
	              <label>Company Name:</label>
								<input type="text" placeholder="Company"  ng-model="newCompany"></input>
	              <!-- <input company="company-name" placeholder="Grand Circus" type="text" ng-model="newCompany" id="newName"> -->
	              <label>Email:</label>
	                <input name="email" placeholder="grandcircus@gmail.com" type="text">
	              <label>Location:</label>
	                <input name="location" placeholder="Detroit, Michigan" type="text">
	              <label>email:</label>
	                <input name="email" placeholder="yourname@gmail.com" type="text">
	              <label>Status:</label>
	                <input name="status" placeholder="Accepted into program" type="text">
	            </form>

	          </div>
	        </div>
	        <div class="modal-footer">
	          <button type="button" ng-click="addCompany()" value="add" id="submitNewInfoButton" class="btn btn-submit" data-dismiss="modal">Submit</button>

	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="addNewCompany">
		<div ng-repeat="company in companies">{{ company.name }} {{company.linked }}</div>
	</div>
</body>
