<div id="menu" class="col-xs-12">
	<ul>
		<div class="menuProfile" class="col-xs-12">
			<li><a href="#/profile">Profie</a></li>
			<img src="myProfile">
		</div>
		<hr>
		<div class="menuMyPrep" class="col-xs-12">
			<li><a href="#/myPrep">My Prep</a></li>
			<img src="myPrep">
		</div>
		<hr>
		<div class="menuCompanies" class="col-xs-12">
			<li><a href="#/companies">Companies</a></li>
			<img src="myCompany">
		</div>
	</ul>
</div>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
