<div class="row">
	<div id="profileHeader" class="col-xs-12">
		<div class="profilePicture">
			<img src="../../img/profilePictures/taylorSwift-small.jpg" class="img-rounded">
		</div>

		<div class="profileNameLink">
			<div id="nameBorder">
				<h3><small>Taylor</small>Swift</h3>
			</div>
			<ul>
			    <li><a href="https://www.twitter.com"><i class="fa fa-twitter fa-3x"></i></a></li>
			    <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin fa-3x"></i></a></li>
			    <li><a href="https://www.github.com"><i class="fa fa-github fa-3x"></i></a></li>
			</ul>
		</div>
	</div>
</div>

	<hr>

<div class="row" class="col-xs-12">
	<div id="profileRow">
		<h4 class="profileHead col-xs-4">Pitch</h4>
		<p class="profileText col-x-8">I'm T-Swift. The art of seduction is already underway. Thank you for the job.</p>
	</div>
</div>

	<hr>

<div class="row" class="col-xs-12">
	<div id="profileRow">
		<h4 class="profileHead col-xs-4">Hobbies</h4>
		<p class="profileText col-x-8">Failing at CSS, making awesome wireframes, and playing around with Linux</p>
	</div>
</div>

	<hr>

<div class="row" class="col-xs-12">
	<div id="profileRow">
		<h4 class="profileHead col-xs-4">Questions</h4>
		<p class="profileText col-x-8">Do you have a beer fridge?</p>
	</div>
</div>

	<hr>

<div class="row" class="col-xs-12">
	<div id="profileRow">
		<h4 class="profileHead col-xs-4">Descriptions</h4>
		<p class="profileText col-x-8">Making bomb ass websites</p>
	</div>
</div>

	<hr>

<div class="row" class="col-xs-12">
	<div id="profileRow">
		<h4 class="profileHead col-xs-4">Salary</h4>
		<p class="profileText col-x-8">All your moneys.</p>
	</div>
</div>